@font-face {
  font-family: "Din";
  src: url("Fonts/DIN.ttf");
}

@font-face {
  font-family: "Garamond";
  src: url("Fonts/Garamond.ttf");
}

@font-face {
  font-family: "Garamond";
  src: url("Fonts/Garamond_Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Din";
  src: url("Fonts/DIN_Black.ttf");
  font-weight: 900;
}

* {
	margin: 0;
	padding: 0;
}

html {
  font-size: 13px;
}

body {
	border: red solid 0px;
  font-family: "Garamond";
  -webkit-font-feature-settings: "kern" 1, "liga" 1;
          font-feature-settings: "kern" 1, "liga" 1;
  height: 11in;
  line-height: 1.189;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  width: 8.5in;
}

article {
	border: blue solid 0px;
	margin: 0 11.286rem;
  padding-top: 6.714rem;
  position: relative;
}

header {
	margin-bottom: 2.378rem;
}

h1, h2 {
	font-family: "Din";
}

h1 {
	display: inline-block;	
	font-size: 2rem;
	font-weight: normal;
	letter-spacing: .05em;
	margin: 0 0 2.378rem;
}

.my-info {
	display: inline-block;
	position: absolute;
	right: 0;
	text-align: right;
}

.section-list, .skills-list {
	margin-bottom: 1.189rem;
}

.section-element {
	margin-bottom: .707rem;
}

hr {
	border-width: 0;
	border-top: black solid .063rem;
	margin: 0 auto .354rem;
}

h2 {
	font-size: 1rem;
	font-weight: 900;
	letter-spacing: .03em;
	margin-bottom: .298rem;
}

.element-title, .element-date {
	display: inline-block;
	font-size: 1.414rem;
}

.element-date {
	position: absolute;
	right: 0;
}

.element-position {
	font-style: italic;
}

.element-attributes, .project-list {
	margin-left: 1.189rem;
}

.element-attribute, .project-list li {
	padding-left: 1rem;
}

.skills-list {
	list-style-type: none;
}

.skills-list li {
	display: inline-block;
	margin-right: 2rem;
}